<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center text-light">Edit Book</h1>
    <div class="col-6 offset-3">
        <form action="/books/<%=book._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label text-light" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="book[title]"
                    value="<%=book.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="location" >Location</label>
                <input class="form-control" type="text" id="location" name="book[location]"
                    value="<%=book.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label text-light" for="price">Book Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="book[price]" value="<%=book.price %>"
                        required>\<div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label text-light" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="book[description]"
                    required><%= book.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% book.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label class="text-light" for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info text-light">Update Book</button>
            </div>
        </form>
        <a class="btn btn-primary" href="/books/<%= book._id%>">Back To Book</a>

    </div>
</div>